name: Developer Docs Validation

on:
  pull_request_target:
    branches: [ main ]

permissions:
  pull-requests: write
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}
        fetch-depth: 0  # Fetches all history for all branches and tags
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r ci/requirements.txt
    
    - name: Check Readme Changes
      id: check_changes
      run: python ci/check_readme_changes.py
      env:
        GITHUB_SHA: ${{ github.sha }}
    
    - name: Add Comment
      if: steps.check_changes.outputs.comment_message != ''
      continue-on-error: true
      uses: actions/github-script@v7
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        script: |
          const issue_number = context.issue.number
          const comment_message = `${{ steps.check_changes.outputs.comment_message }}`
          await github.rest.issues.createComment({
            owner: context.repo.owner,
            repo: context.repo.repo,
            issue_number: issue_number,
            body: comment_message
          });

    - name: Validate Files
      run: python ci/validate.py
    
    - name: Generate Code Blocks
      run: python ci/copy_code_blocks.py
    
    